@import "./split/bill/form";
@import "./split/bill/contract";
@import "./split/bill/invoice";
@import "./split/bill/quotation";

#societies{
  @include toolbarCreateSearch(192);
}

#invoices{
  @include toolbarCreateFilterSearch(192);
}

#items{
  @include toolbarCreateSearch(178);
}

#taxes{
  @include toolbarCreateFilterSearch(170);
}

#unities{
  @include toolbarCreateFilterSearch(176);
}

#customers{
  @include toolbarCreateFilterSearch(172);
}

#sites{
  @include toolbarCreateSearch(158);
}

#avoirs{
  @include toolbarCreateFilterSearch(166);

  .badge-0{
    background-color: var(--grey2);
  }
}

#contracts{
  @include toolbarCreateSearch(184);

  .toolbar-customer{
    .filter-search{
      width: 100%;
      margin-left: 0;
    }
  }

  .aside{
    .items.items-default{
      border: 2px solid var(--greyShadow);
    }
  }

  .contract-numero-form{
    @include flex(row, center, flex-start);
  }

  .form-group{
    .items-table{
      width: 100%;
    }
  }
}

#contracts-process {
  @include toolbarSearch();
}

.item-main{
  .name{
    text-transform: uppercase;
  }
}

#quotations{
  @include toolbarCreateFilterSearch(170);
}


.item-add{
  border: 2px solid transparent;
  border-radius: 0 0 8px 8px;

  .btn-icon{
    [class^="icon-"]{
      font-size: 24px;
    }
    .icon-add-square{
      color: var(--primary);
    }
    .icon-check{
      color: var(--warning);
    }
  }
}

.items-table{
  & > .items {
    & > .item-add{
      &:hover{
        background-color: transparent;
        border-color: var(--color1);
      }
    }
  }
}



#customers{
  .sites-list-customer-form{
    width: 100%;

    .items-table{
      border: 2px solid var(--greyShadow);
    }
  }
}

#contracts{
  .items-list-contract-form{
    width: 100%;

    .items-table{
      border: 2px solid var(--greyShadow);
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .indent-24{
    padding-left: 24px;
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  #contracts {
    .aside.true {
      width: 86%;
    }
  }

  .default-page.default-page-contract{

    .items-default{
      .infos-col-7{
        .col-2{
          width: calc(100% - 452px - 42px);
        }
        .col-3{
          width: 76px;
        }

        .col-4, .col-5{
          width: 108px;
        }

        .col-7{
          text-align: right;
          width: 42px;
        }
      }
    }
  }

  .items-default{
    .infos-col-7{
      .col-1{
        width: 138px;
        margin-right: 12px;
      }
      .col-2{
        width: calc(100% - 698px - 42px);
        margin-right: 12px;
        margin-top: 0;
      }

      .col-3, .col-4{
        width: 140px;
        margin-right: 12px;
      }

      .col-5{
        width: 180px;
        margin-right: 12px;
        margin-top: 0;
        text-align: right;

        .name{
          justify-content: flex-end;
        }
      }
      .col-6{
        width: 100px;
        margin-right: 12px;
        margin-top: 0;
        text-align: right;
      }
      .col-7{
        width: 120px;
      }
    }
  }
}


//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  #contracts {
    .aside.true {
      width: 60%;
    }
  }
}