{% extends 'user/pages/profil/template.html.twig' %}

{% set page_title %}Ajouter un membre{% endset %}

{% block main_content %}
    <div id="team-create">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}