{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Mon profil{% endset %}

{% block main_content %}
    <div id="profil">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
