{% extends 'app/pages/security/template.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block main_content %}
    <div class="main-content" id="user-registration">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}