{% extends 'admin/pages/bill/template.html.twig' %}

{% set page_title %}Factures{% endset %}
{% set submenuActive = "Factures" %}

{% block main_content %}
    <div id="invoices"
         data-donnees="{{ donnees }}"
         data-society="{{ society }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
