{% extends 'app/pages/services/template.html.twig' %}

{% block title %}Gestion locative{% endblock %}

{% block main_content %}
<div class="main-content">
    <h1>Gestion locative</h1>
</div>
{% endblock %}