{% extends 'app/pages/services/template.html.twig' %}

{% block title %}Syndic de copropriété{% endblock %}

{% block main_content %}
<div class="main-content">
    <h1>Syndic de copropriété</h1>
</div>
{% endblock %}