$dpeA: rgb(13,219,157);
$dpeB: rgb(97,241,39);
$dpeC: rgb(202,250,2);
$dpeD: rgb(249,221,23);
$dpeE: rgb(253,173,0);
$dpeF: rgb(252,113,48);
$dpeG: rgb(217,70,84);

$gesA: rgb(253,234,254);
$gesB: rgb(255,222,253);
$gesC: rgb(249,190,253);
$gesD: rgb(251,126,255);
$gesE: rgb(246,82,252);
$gesF: rgb(223,40,244);
$gesG: rgb(180,21,185);

$colorsDPE: (
        'a': $dpeA,
        'b': $dpeB,
        'c': $dpeC,
        'd': $dpeD,
        'e': $dpeE,
        'f': $dpeF,
        'g': $dpeG,
);

$colorsGES: (
        'a': $gesA,
        'b': $gesB,
        'c': $gesC,
        'd': $gesD,
        'e': $gesE,
        'f': $gesF,
        'g': $gesG,
);

.diag-title{
  font-weight: 600;
}

.diagnostic{
  .diag-dpe, .diag-ges{
    margin-top: 15px;
  }

  .diag-dpe{
    margin-bottom: 15px;
  }
}
.diag-dpe, .diag-ges{
  display: flex;

  .dpe, .ges{
    padding: 5px 8px;

    & > div:first-child{
      opacity: 0;
    }
  }

  .number{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    display: none;
  }

  .dpe-a, .ges-a{
    border-radius: 3px 0 0 3px;
  }
  .dpe-g, .ges-g{
    border-radius: 0 3px 3px 0;
  }
  @each $letter, $color in $colorsDPE{
    .dpe-#{$letter}{
      background-color: $color;
      color: var(--alpha);
    }
  }
  @each $letter, $color in $colorsGES{
    .ges-#{$letter}{
      background-color: $color;
      color: var(--alpha);
    }
  }
  .ges-a{
    color: rgb(186,21,191);
  }
  .dpe-a, .dpe-g, .ges-a, .ges-g{
    & > div:first-child{
      opacity: 1;
    }
  }
  .dpe.dpe_is-active,.ges.ges_is-active{
    transform: scale(1.4);
    border-radius: 50%;
    font-size: 0.75em;
    border: 2px solid var(--alpha);
    color: var(--txt);
    font-weight: 600;

    & > div:first-child{
      opacity: 1;
    }

    + .number{
      display: block;
    }
  }
}

.diagnostic--seemore {
  text-align: right;
  margin-top: 35px;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span:last-child{
    display: inline-block;
    margin-left: 8px;
  }

  &:hover{
    opacity: 0.7;
  }
}

.diagnostic--details{
  display: flex;
  margin-top: 35px;

  .diag-dpe{
    margin-bottom: 35px;
  }

  .diag-dpe, .diag-ges{
    margin-top: 10px;
    flex-direction: column;

    $sizes: (
            '1': 23%,
            '2': 30%,
            '3': 40%,
            '4': 50%,
            '5': 60%,
            '6': 70%,
            '7': 80%,
    );

    .dpe-a, .ges-a, .dpe-g, .ges-g{
      border-radius: 0;
    }

    & > div{
      position: relative;
      display: inline-block;
    }

    @each $i, $size in $sizes {
      & > div:nth-child(#{$i}){
        width: $size;
      }

    }

    @each $letter, $color in $colorsDPE{
      .dpe-#{$letter} + .number{
        background-color: $color;
      }
    }

    @each $letter, $color in $colorsGES{
      .ges-#{$letter} + .number{
        background-color: $color;
      }
    }


    .dpe, .ges{
      position: relative;
      & > div:first-child{
        opacity: 1;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
      }
    }

    .dpe.dpe_is-active2,.ges.ges_is-active2{
      color: var(--txt);
      font-weight: 600;

      + .number{
        position: absolute;
        display: block;
        top: -10px;
        right: -90px;
        padding: 5px 15px;
        border-radius: 100px;
      }
    }
  }
}
//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .diagnostic{
    display: flex;
  }

  .diagnostic--details{
    & > div{
      width: 100%;
    }
  }
}
//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .diagnostic--details{
    & > div{
      display: inline-block;
      width: 49%;
    }
  }
  .diagnostic{
    flex-direction: row;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .diagnostic{
    & > *:not(:last-child){
      margin-right: 30px;
    }

    & > *{
      display: flex;
      flex-direction: column;
    }
  }
}