@import "../vars/vars";

@import "split/ad/details";
@import "split/ad/search";
@import "split/ad/gallery";

.toolbar{
  .display-mode{
    margin-right: 12px;
  }
}

.items-table{
  .selector{
    width: 60px;
    @include fontSemibold();
  }

  .item-content{
    width: calc(100% - 60px);
  }
}

.items-ad{
  .selector{
    cursor: pointer;
  }
  .avatar{
    width: auto;
    max-width: 150px;
    height: 100%;
    background-color: transparent;
    margin-bottom: 12px;
    max-height: 112px;

    .gallery{
      position: relative;
      max-height: 112px;
      z-index: 20;
    }

    img{
      width: auto;
      max-width: 150px;
      height: 100%;
      border-radius: 4px;
    }
  }

  .infos{
    width: 100%;
    cursor: pointer;
  }

  .name{
    margin-bottom: 4px;
  }

  .ad-price{
    margin-top: 8px;
  }
}

.type-ad, .type-bien{
  opacity: 0.8;
}

.type-ad{
  margin-bottom: 4px;
  margin-top: 12px;
  font-size: 15px;

  &.ad-1{
    background-color: var(--dangerShadow);
  }
}
.type-bien{
  margin-bottom: 0;
  font-size: 15px;
  background-color: var(--greyShadow);
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .items-ad{
    .avatar{
      width: 150px;

      img{
        width: 150px;
      }
    }

    .infos{
      width: calc(100% - 150px - 12px);
      align-items: flex-start;
    }

    .type-ad, .type-bien{
      margin: 0;
    }

    .ad-info{
      width: calc(100% - 350px);
    }
    .ad-price{
      margin-top: 0;
      width: 125px;
    }
    .ad-ad{
      width: 100px;
    }
    .ad-bien{
      width: 125px;
    }
  }
}


//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width: 1280px) {
  .items-ad{
    .ad-info{
      width: calc(100% - 525px);
    }
    .ad-price{
      width: 200px;
    }
    .ad-ad{
      width: 200px;
    }
    .ad-bien{
      width: 125px;
    }
  }
}