@import "../vars/vars";

#invoices{
  @include toolbarCreateFilterSearch(185);
}

#items{
  @include toolbarCreateSearch(171);
}

#taxes{
  @include toolbarCreateFilterSearch(164);
}

#unities{
  @include toolbarCreateFilterSearch(170);
}

#invoices{
  .aside-select{
    .toolbar{
      .filter-search{
        .search{
          width: 100%;
        }
      }
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {

  #invoices{
    .aside-select{
      .toolbar{
        .filter-search{
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }


  .items-default{
    .infos-col-7{
      .col-1{
        width: 120px;
        margin-right: 24px;
      }
      .col-2{
        width: calc(100% - 680px - 42px);
        margin-right: 24px;
        margin-top: 0;
      }

      .col-3, .col-4{
        width: 140px;
        margin-right: 24px;
      }

      .col-5{
        width: 180px;
        margin-right: 24px;
        margin-top: 0;
        text-align: right;
      }
      .col-6{
        width: 100px;
        margin-right: 24px;
        margin-top: 0;
        text-align: right;
      }
      .col-7{
        width: 120px;
      }
    }

    .item-header{
      .infos-col-7{
        .col-2{
          width: calc(100% - 680px - 24px);
        }
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  #invoices{
    .aside-select{
      .aside{
        width: 70%;
      }
    }
  }
}

