{% extends 'user/pages/formations/template.html.twig' %}

{% set page_title %}Inscription à {{ elem.formation.name }} {{ elem.start | date('d/m/Y') }} {% endset %}

{% block main_content %}
    <div id="session-registration" data-session="{{ session }}" data-workers="{{ workers }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
