{% extends 'user/pages/formations/template.html.twig' %}

{% set page_title %}Inscription à {{ elem.name }}{% endset %}

{% block main_content %}
    <div id="session-registration">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
