{% extends 'admin/pages/formations/template.html.twig' %}

{% set page_title %}Liste des formations{% endset %}
{% set submenuActive = "Formations" %}

{% block main_content %}
    <div id="formations" data-donnees="{{ donnees }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
