{% extends 'admin/pages/formations/template.html.twig' %}

{% set page_title %}Liste des sessions de {{ formation.name }}{% endset %}
{% set submenuActive = "" %}

{% block main_content %}
    <div id="formation-sessions" data-formation="{{ formation.id }}" data-donnees="{{ donnees }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
