@import "../../../vars/vars";

.steps{
  @include flex(column, center, flex-start);
  padding-bottom: 12px;
  margin-bottom: 12px;

  .item{
    @include flex(row, flex-start, flex-start);
    border-radius: 30px;
    padding: 4px 12px;
    @include fontSemibold();
    color: var(--grey2);

    &.active{
      background-color: var(--primary);
      color: var(--txt);
    }

    span:first-child{
      margin-right: 4px;
    }

    &:not(:last-child){
      margin-bottom: 4px;
    }
  }
}

h2{
  margin-bottom: 24px;
  text-align: center;
}

.step-workers{
  .item{
    cursor: initial;
  }
  
  .col-1, .col-2{
    cursor: pointer;
  }

  .item-disabled-true{
    opacity: 0.4;
    cursor: not-allowed;

    .selector, .col-1, .col-2{
      cursor: not-allowed;
    }
  }
}

.item-deleted-true{
  opacity: 0.4;
  text-decoration: line-through;
}

.step-section{
  display: none;

  &.active{
    display: block;
  }
}

.line-buttons{
  @include flex(row, center, space-between);
  margin-top: 24px;
}

.review-infos, .review-participants, .review-total {
  margin-top: 24px;
}

.review-infos, .review-total {
  @include flex(column, center, center);
  padding: 12px;
  background-color: var(--alpha);
  border-radius: 4px;
}

.review-infos{
  .title{
    font-size: 18px;
    @include fontSemibold();
  }
  .content{
    text-align: center;
  }

  .address{
    margin-top: 8px;
  }

  .prices{
    margin-top: 12px;

    span{
      @include fontSemibold();
      color: var(--primary);
      font-size: 18px;
    }
  }
}

.review-participants{
  .items-default{
    .infos{
      .actions{
        flex-direction: column;
        align-items: flex-end;

        .total{
          margin-top: 8px;
          font-size: 17px;
        }
      }
    }
  }
}

.review-total{
  .alert{
    align-items: center;
    justify-content: center;
  }

  .total{
    font-size: 18px;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .steps{
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .item{
      &:not(:last-child){
        margin-bottom: 0;
      }
    }
  }
}