h1{
    font-weight: bold;
    margin-bottom: 125px;
}

.lieu{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 25px 0;
}

.lieu-horaire{
    font-size: 20px;
    border-right: 1px solid black;
}

.lieu td{
    padding: 25px;
}

.liste-personnes{
    display: block;
}

.infos-inscrits td{
    padding: 10px;
}

.main-table .infos-inscrits{
    padding: 25px;
}


b{
    font-weight: bold;
}

.numero-ticket{
    font-size: 24px;
}

.logo-ca{
    width: 150px;
}

.header td{
    padding: 25px;
}

.table-custom{
    margin-bottom: 24px;
}

.td-1--info, .td--img{
    padding-top: 10px;
}
.td--img{
    padding-right: 24px;
}
.financier-1{
    padding-top: 24px;
}
.color-1{
    color: #109cf1;
}
.financier-prix{
    font-weight: bold;
    font-size: 1.2em;
}

.title-h3{
    font-size: 18px;
    color: #4d4d4d;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 8px;
    border-bottom: 1px solid #DBD7D7;
}
.table-cara{
    vertical-align: top;
}
.table-cara .table-cara-td--1{
    padding-right: 25px;
}
.table-cara .table-cara-td--1 td{
    padding-right: 10px;
}
.color-light{
    color: #FF989F;
    font-weight: bold;
}
