@page {
    margin: 24px 24px 56px 24px;
    footer: html_myFooter1;
}

body{
    font-size: 12px;
    color: #000000;
}

b{
    font-weight: bold;
}

/**
        HEADER
 */

.logo{
    width: 110px;
}
.header .col-1,
.header .col-2,
.header .col-3{
    float: left;
}

.header .col-1{
    width: 110px;
}

.header .col-2{
    width: 33%;
    margin-left: 24px;
}

.header .col-3{
    text-align: right;
    width: calc(100% - 33% - 110px);
}

.numero-facture{
    font-size: 18px;
}

/**
    LETTER
 */
