{% extends 'admin/pages/paiement/template.html.twig' %}

{% set page_title %}Liste des paiements{% endset %}

{% block main_content %}
    <div id="orders" data-donnees="{{ donnees }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}