<htmlpagefooter name="myFooter1" style="display:none">
    <table width="100%" style="border-top: 1px solid #000000">
        <tr>
            <td width="50%">
                <span style="font-weight: bold; font-style: italic;">{{ title_page }} N°{{ elem.numero }} du {{ elem.dateAt | date('d/m/Y') }}</span>
            </td>
            <td width="50%" align="right" style="font-weight: bold; font-style: italic;">
                {PAGENO}/{nbpg}
            </td>
        </tr>
    </table>
</htmlpagefooter>
