{% extends 'admin/pages/immo/template.html.twig' %}

{% set page_title %}Liste des alertes e-mail{% endset %}
{% set submenuActive = "Alerts e-mail" %}

{% block main_content %}
    <div id=alerts></div>
{% endblock %}

