{% extends 'admin/pages/immo/template.html.twig' %}

{% set page_title %}Liste des demandes{% endset %}
{% set submenuActive = "Demandes" %}

{% block main_content %}
    {% if bien %}
        <div id="demandes" data-bien="{{ bien.id }}" data-donnees="{{ donnees }}"></div>
    {% else %}
        <div id="demandes" data-donnees="{{ donnees }}"></div>
    {% endif %}

{% endblock %}

