{% extends 'admin/pages/immo/template.html.twig' %}

{% set page_title %}Liste des demandes de devis{% endset %}
{% set submenuActive = "Devis" %}

{% block main_content %}
    <div id=devis></div>
{% endblock %}

