{% extends 'admin/pages/immo/template.html.twig' %}

{% set page_title %}Liste des demandes d'estimations{% endset %}
{% set submenuActive = "Estimations" %}

{% block main_content %}
    <div id=estimations></div>
{% endblock %}

