{% extends 'admin/pages/immo/template.html.twig' %}

{% set page_title %}Liste des annonces{% endset %}
{% set submenuActive = "Annonces" %}

{% block main_content %}
    <div id="ads" data-donnees="{{ donnees }}"></div>
{% endblock %}