#invoices{

  .items-default{
    .infos{
      .col-5,.col-6{
        text-align: right;

        .name{
          align-items: flex-end;
          margin-bottom: 4px;
        }
      }
    }
  }
  .aside-select{
    .toolbar{
      .filter-search{
        .search{
          width: 100%;
        }
      }
    }
  }

  .badge-0{
    background-color: var(--grey2);
  }

  .line-products{
    margin-top: 24px;

    .item{
      @include flex(row, flex-start, flex-start);
      width: 100%;

      &:not(:last-child){
        margin-bottom: 12px;
      }

      .col-1{
        @include fontSemibold();
        width: calc(100% - 30% - 12px);
        margin-right: 12px;
      }

      .col-2{
        width: 30%;

        .sub{
          font-size: 15px;
          color: var(--grey3);
          margin-top: 2px;
        }
      }
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  #invoices {
    .aside-select {
      .toolbar {
        .filter-search {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  #invoices{
    .aside-select{
      .aside{
        width: 70%;
      }
    }
  }
}
