{% extends 'app/pages/ads/template.html.twig' %}

{% block title %}Annonces immobilières{% endblock %}

{% block main_content %}
<div class="main-content">
    <h1>Annonces immobilières</h1>
</div>
{% endblock %}